<div class="wrapper">
	<div class="section section-about-us">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h2 class="title">Edit Game</h2>
					<h5 class="description">Edit the informations.</h5>
				</div>
			</div>
			<div class="separator separator-primary"></div>
		</div>
	</div>
	<div class="section section-contact-us text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
		      <form action="edit" method="post">
			      <div class="form-group">
			          <input type="text" value="" placeholder="Title" class="form-control" />
								<div class="row">
									<div class="col-lg-4 text-left col-md-4 ml-auto mr-auto">
										<div class="form-check form-check-radio">
										    <label class="form-check-label">
										        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
										        PC
										        <span class="form-check-sign"></span>
										    </label>
										</div>
										<div class="form-check form-check-radio">
										    <label class="form-check-label">
										        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
										        PS4
										        <span class="form-check-sign"></span>
										    </label>
										</div>		
									</div>
									<div class="col-lg-4 text-left col-md-4 ml-auto mr-auto">
										<div class="form-check form-check-radio">
										    <label class="form-check-label">
										        <input class="form-check-input" type="radio" name="statusRadios" id="exampleRadios1" value="option1" >
										        Not Played
										        <span class="form-check-sign"></span>
										    </label>
										</div>	
										<div class="form-check form-check-radio">
										    <label class="form-check-label">
										        <input class="form-check-input" type="radio" name="statusRadios" id="exampleRadios1" value="option1" >
										        Playing
										        <span class="form-check-sign"></span>
										    </label>
										</div>	
										<div class="form-check form-check-radio">
										    <label class="form-check-label">
										        <input class="form-check-input" type="radio" name="statusRadios" id="exampleRadios1" value="option1" >
										        Finished
										        <span class="form-check-sign"></span>
										    </label>
										</div>	
										<div class="form-check form-check-radio">
										    <label class="form-check-label">
										        <input class="form-check-input" type="radio" name="statusRadios" id="exampleRadios1" value="option1" >
										        Completed 
										        <span class="form-check-sign"></span>
										    </label>
										</div>										
									</div>
								</div>			  	
			      </div>
		   	 </form>
					<div class="send-button">
						<a href="#pablo" type="submit" class="btn btn-primary btn-round btn-block btn-lg">Submit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer footer-default">
		<div class="container">
			<div class="copyright">
				&copy; Coded by
				<a href="https://www.nadirbounoua.com" target="_blank">Nadir Bounoua</a>.
			</div>
		</div>
	</footer>
</div>
