
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="">
                            <img src="assets/img/logo1.png" alt="Game Manager" style="width: 250px; height: auto; margin-bottom: 10px;">
                        </div>
                    </div>
                    <div class="content">
                        <form method="post" action="">
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="text" class="form-control" placeholder="Username" (focus)="focus=true" (blur)="focus=false" >
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                          <input type="password" placeholder="Password" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>
                    <div class="footer text-center">
                        <a class="btn btn-primary btn-round btn-lg btn-block" href="/games">Login</a>
                    </div>
                  </form>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a href="#" class="link">Create Account</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
