<div class="wrapper">
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">My Games</h2>
                    <h5 class="description">All my games.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <div class="team">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Title</th>
                              <th scope="col">Platform</th>
                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let game of games">
                              <th scope="row">{{game.game_id}}</th>
                              <td>{{game.title}}</td>
                              <td>{{game.platform}}</td>
                              <td>{{game.status}}</td>
                              <td>
                                <a href="/edit/{{game.game_id}}" type="button" class="btn btn-warning btn-sm mt-0">Edit</a>
                                <button type="button" class="btn btn-success btn-sm mt-0">Done</button>
                                <button type="button" class="btn btn-danger btn-sm mt-0" (click)= "deleteGame(game.game_id)" >Delete</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <footer class="footer footer-default">
    <div class="container">
      <div class="copyright">
        &copy; Coded by
        <a href="https://www.nadirbounoua.com" target="_blank">Nadir Bounoua</a>.
      </div>
    </div>
  </footer>
</div>
